<!--<connectionStrings>
    <add name="UserDataEntities" connectionString="metadata=res://*/EntityModel.UserDataModel.csdl|res://*/EntityModel.UserDataModel.ssdl|res://*/EntityModel.UserDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORK;initial catalog=UserData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
<connectionStrings>
  <add name="UserData" connectionString="Data Source = WORK; Initial Catalog = UserData; Integrated Security = True" providerName="System.Data.SqlClient" />
</connectionStrings>